[2020-05-04 15:40] akamhy opened #2 "Fix problem with non padded input in near()"
It returns an incorrect archive.

[2020-05-04 15:41] akamhy opened #3 "Support a get webpage function"
Users should be able to get the webpage using this package.

[2020-05-05 03:33] #3 closed

[2020-05-05 03:33] #2 closed

[2020-05-07 04:05] akamhy opened #7 "total archives"
https://web.archive.org/cdx/search/cdx?url=https://github.com/&output=json
- total archives = len the list

[2020-05-07 10:08] #7 closed

[2020-07-20 15:07] akamhy opened #17 "add command line support"
We are currently lacking command line support. This might be a problem for users who are not using python.
But **don't use any non stdlib package**; we don't want any non stdlib dependency at all.

[2020-07-22 11:12] #17 closed

[2020-09-11 15:43] akamhy opened #25 "Fetch urls in a domain from archive."
concept from

https://gist.github.com/mhmdiaa/adf6bff70142e5091792841d4b372050

Why?

Used by many to find vulnerability in small to medium level websites. Imo, will be a good feature.

[2020-09-11 15:58] akamhy commented on #25
Priority : **High**

This will attract lots of potential users and contributors.

Will add some additional features like, is the url not 404 or redirect.

- https://github.com/tomnomnom/waybackurls
- https://medium.com/@soyelmago/bugbounty-tips-continuously-updated-dd8fe8914bdc
- https://aur.archlinux.org/packages/waybackurls-git/
- https://securiumsolutions.com/blog/different-way-to-discover-webs

[2020-10-02 14:59] akamhy commented on #25
Done in https://github.com/akamhy/waybackpy/commit/ce7294d990b4bca98568334d09ab93be11b02376

[2020-10-02 14:59] #25 closed

[2020-10-15 16:42] akamhy opened #29 "Update tests"
Add tests for the new methods and update the older ones.

[2020-10-15 16:46] akamhy opened #30 "Update CLI"
CLI code currently doesn't supports some new functionalities in the wrapper. `archive_url` and `JSON`

[2020-10-15 16:49] akamhy opened #31 "Update docs"
Add documentation for the new functionalities
**IMP**:  Add the new `archive_url` at the top of docs.

[2020-10-15 16:50] akamhy commented on #30
P1

[2020-10-15 16:50] akamhy commented on #29
P2

[2020-10-15 16:50] akamhy commented on #31
P3

[2020-10-16 09:46] #30 closed

[2020-10-16 13:55] #29 closed

[2020-10-16 13:58] akamhy commented on #31
Dropped python 2.7 support
-  remove from setups
- remove from readme

[2020-10-16 17:08] #31 closed

[2020-11-25 11:13] h1hakz opened #37 "Not able to run getting error"
Hi when running the tool i am getting errors like below.
Kindly help.

<img width="1003" alt="Screen Shot 2020-11-25 at 4 42 12 PM" src="https://user-images.githubusercontent.com/29821378/100220408-575aa180-2f3d-11eb-815f-d2420881b36a.png">

[2020-11-26 01:00] akamhy commented on #37
I replaced the urlib with requests pkg and enabled threading. (urlib sucks at handling server side redirects)
Install this updated version with `pip install git+https://github.com/akamhy/waybackpy.git -U`.

`waybackpy --url yahoo.com --user_agent "my-user-agent" --known_urls --subdomain --alive` will fetch [137K URLs](https://web.archive.org/cdx/search/cdx?url=*.yahoo.com/*&output=json&fl=original

[2020-11-26 02:29] h1hakz commented on #37
Any other alternative not to get blocked by delaying the request?

On Thu, Nov 26, 2020, 6:30 AM Akash Mahanty <notifications@github.com>
wrote:

[2020-11-26 02:41] akamhy opened #38 "ditch travis, use circle or gh action"
5000 build backlog is not welcoming.

[2020-11-26 03:13] akamhy commented on #38
https://web.archive.org/web/20201126031211/https://www.traviscistatus.com/#system-metrics

[2020-11-26 07:36] #38 closed

[2020-11-26 09:49] akamhy commented on #37
You can use [proxy chains](https://github.com/haad/proxychains) or [tor](https://www.torproject.org/) and rotate among a bunch of IPs and they won't be able to block or rate-limit you. Delaying the requests using a queue would take too much time for 137K URLs. Even without delaying it would take you 1.5 days(38.05 hours) to check all the IPs at the rate of 1URL/SEC.

A better solution to reduce th

[2020-12-09 10:31] h1hakz commented on #37
Hi Akash,

Thanks for your reply.

i tried  using proxychains and tor, But not able to rotate the ip's can you
help me out.

On Thu, Nov 26, 2020 at 3:19 PM Akash Mahanty <notifications@github.com>
wrote:

[2020-12-12 04:28] akamhy commented on #37
If you are having trouble with proxy chains watch https://youtu.be/qsA8zREbt6g?t=215 (You don't have to watch the whole 13 min video.)

After you change the conf, it's as simple as:
`proxychains python3 your-program-name.py>`

use as many proxies as you could and write the output right after checking the availability, otherwise you many end up wasting too much mem.

[2020-12-12 04:30] akamhy commented on #37
use random mode in proxychains conf

[2020-12-13 16:56] pyup-bot opened #43 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2020-12-13 17:40] #43 closed

[2020-12-19 06:05] akamhy opened #50 "cli.py (near,archive,oldest,newset) : Output a nice message and tell the user that the page isn't archived"
Problem : <https://github.com/akamhy/foo-bar-is-real> is 404. I am requesting an archive for an URL that doesn't exist and therefore ain't archived on wayback machine.

The following text is not helpful to folks who don't know python. And looks unprofessional from CLI point of view.
[code]

[2020-12-21 06:00] akamhy opened #51 "Cdx class"
see <https://web.archive.org/cdx/search/cdx?&output=json&fl=original&collapse=urlkey&url=https://github.com/akamhy*>

Create a wildcard search class? Cuz not really compatible with the Url class.

Source: confidential via Email (primary)

[2020-12-21 06:11] akamhy commented on #51
https://github.com/internetarchive/wayback/blob/master/wayback-cdx-server/README.md#intro-and-usage-1

[2020-12-26 09:49] akamhy commented on #51
with wild card support

[2021-01-01 10:45] akamhy opened #52 "JSON : Remove JSON from __init__, we don't want a request on init"
The Url's __init__ is genrating unnessary trffic. No every one wanatsa to check availablity of archive.﻿

[2021-01-01 11:08] #52 closed

[2021-01-01 17:21] #37 closed

[2021-01-02 05:43] akamhy commented on #50
Fixed in v2.3.2

[2021-01-02 05:43] #50 closed

[2021-01-02 06:16] akamhy opened #56 "improve coverage"
The coverage is below 90% and thus unacceptable. Add more tests.

[2021-01-02 06:17] akamhy opened #57 "Write docs in wiki"
The docs would grow more when Cdx is supported. README is not the place for big docs.

[2021-01-02 06:54] #57 closed

[2021-01-02 17:05] akamhy commented on #56
After doing the cdx class #51

[2021-01-03 21:31] akamhy commented on #51
wildcard or <https://github.com/internetarchive/wayback/blob/master/wayback-cdx-server/README.md#url-match-scope>

[2021-01-03 21:34] akamhy commented on #51
Cdx class inside wrapper.py, no to another file.

[2021-01-04 20:17] akamhy commented on #56
fixed now

[2021-01-04 20:17] #56 closed

[2021-01-04 20:24] akamhy commented on #51
Kinda done, still need to add more features in form of methods.

[2021-01-04 20:37] akamhy commented on #51
DOCS required, write 'em

[2021-01-07 10:10] akamhy opened #60 "Support threads"

[2021-01-07 10:23] akamhy opened #61 "cdx diffrent mimetypes"
[code]

[2021-01-07 12:57] akamhy commented on #61
[code]

[2021-01-10 05:18] #61 closed

[2021-01-10 05:18] #51 closed

[2021-01-10 08:32] akamhy opened #63 "snapshot str must be the line str not archive url"

[2021-01-10 08:33] akamhy opened #64 "Filtering issues"
https://repl.it/@akamhy/CDX-Filtering-Date-Range#main.py

[2021-01-10 17:55] akamhy commented on #63
CDX line (which is space delimited)

[2021-01-11 04:06] #63 closed

[2021-01-11 06:28] akamhy opened #65 "fix total"
`waybackpy --url https://github.com/akamhy/waybackpy--user_agent haha --total`

[2021-01-11 06:31] akamhy commented on #65
fall back on resumption.

pagination keeps the load low but is not instantaneous, results are flawed for some sites.

[2021-01-11 08:35] dequeued0 opened #66 "add a way to get a list of all archives for a given URL"
Right now, there seems to be no way to list all of the available archives by timestamp. Unless I am missing something, the only options are to call `.oldest()`, `.newest()`, or request for an archive `.near()` a specific timestamp. It would be great if it was possible to get a list of all available archives which could then be individually fetched as desired with `.get()`, printed to get the archi

[2021-01-11 08:45] dequeued0 opened #67 "allow near() to be called with a timestamp"
Instead of having to convert timestamps into year, month, day, hour, and minutes and then pass all of those parameters separately like `wayback_url_obj.near(year=year, month=month, day=day, hour=hour, minute=minute)`, it would be great if it was possible to just pass in a Unix timestamp (either integer or floating point seconds since epoch like `time.time()`) and have that automatically rounded to

[2021-01-11 10:53] akamhy commented on #66
@dequeued0
Checkout <https://github.com/akamhy/waybackpy/wiki/Python-package-docs#basic-usage>. We now support the CDX API completely.

I will implement what you asked in #67. Feel free to create more Issues.

[2021-01-11 10:59] akamhy commented on #67
Will add support for unix_timestamp and the way-back machine time stamp.

`wayback_url_obj.near(unix_timestamp=)`, can not use timestamp as a parameter  name as we support other OS and don't want to confuse UNIX timestamp with wayback machine timestamp.

[2021-01-11 14:25] akamhy commented on #67
Done in https://github.com/akamhy/waybackpy/commit/5a7bd735654c65188899e109328d98f717ab226d

[2021-01-11 14:25] #67 closed

[2021-01-11 17:17] akamhy commented on #64
fixed in https://github.com/akamhy/waybackpy/commit/eabf4dc046effeb3d009b935854569b29fd435ff

[2021-01-11 17:17] #64 closed

[2021-01-11 17:18] akamhy commented on #65
why not ditch it ?

[2021-01-11 17:36] akamhy commented on #65
Okay, if total pages are more than 10 then use pagination API else use normal API with resume key.
For less archives we should care more about accuracy, and pagination API appears lagged to me.

[2021-01-11 17:38] akamhy commented on #60
Pagination is designed to be used by multiple threads and we should support it.

[2021-01-11 21:33] dequeued0 commented on #67
Awesome, thanks! My only comment is that I'm not sure I'd call the parameter `unix_timestamp`. The datetime and time modules just call it "timestamp" or "time" in most places. Seconds since epoch (i.e., the 1970 epoch) is a fairly standard thing for Python and various other things outside of the realm of Unix.

[2021-01-11 22:33] dequeued0 opened #68 "get() doesn't return the correct version of archives"
`get()` is fetching the wrong version of archives.

I've seen this happen to multiple different archives and it is a reproducible issue. Here is an example:

[code]

However, that archive version does not include the string `[removed]` and it should show the spam text that included the `become your own BOSS` phrase.

If you fetch the page separately, you can `[removed]` is not present and the expe

[2021-01-11 22:53] dequeued0 opened #69 "Cdx() is not working for some URLs"
It works if I set the url to your Github page as in your example, but when I try this URL, it does not work.

I am using version 2.4.0.

[code]

[2021-01-12 04:12] akamhy commented on #69
I guess I need to stop using pagination API if total pages <= 2

Without the pagination API I can see 4 archives.
<https://web.archive.org/cdx/search/cdx?url=https://old.reddit.com/r/personalfinance/comments/kr3pbk/kingz_forex_academy_come_and_learn_how_to_trade/&limit=1000>

[2021-01-12 04:21] akamhy commented on #69
fixed in https://github.com/akamhy/waybackpy/commit/a65990aee320ec401d9364801220dc044c22ebbc

For future : Why are we even using the pagination API if it can be lagged?
Some users use this tool to retrieve huge amount (10M+) of archives from wayback machine CDX API. And pagination API can be used multi-threaded. And without causing too much strain on the servers.

[2021-01-12 04:21] #69 closed

[2021-01-12 04:44] akamhy commented on #68
fixed in <https://github.com/akamhy/waybackpy/commit/6142e0b353dbbc233a04b03fbabbf5232d80d9d6>

The get method was default to URL passed in waybackpy.Url(url, user_agent), changed it to get the last retrieved archive.

[2021-01-12 04:44] #68 closed

[2021-01-12 04:57] akamhy opened #70 "Update the CLI, support everything we can do with the wrapper.py"
Currently CLI supports less features reactive to the wrapper.py (as module).

[2021-01-12 04:59] akamhy opened #71 "Update the docs / wiki"

[2021-01-12 06:15] akamhy commented on #65
fixed in v2.4.1

[2021-01-12 06:15] #65 closed

[2021-01-12 14:01] akamhy commented on #71
partially done  on 12 jan

[2021-01-14 04:20] akamhy commented on #71
https://github.com/akamhy/waybackpy/wiki

[2021-01-14 09:34] akamhy opened #72 "Gif timelapse of webpage"
Should we have an option to make webpage time-lapse using the IA?

[2021-01-14 09:35] akamhy opened #73 "Export archive as jpeg image."

[2021-01-14 09:36] akamhy opened #74 "use format instead of %s"
.format is better

[2021-01-14 09:40] akamhy opened #75 "minify & fix the logo and rm old ugly logos"

[2021-01-14 09:41] akamhy opened #76 "README.md"
https://github.com/akamhy/waybackpy#supported-features

should have collapsed code or link to the docs

[2021-01-14 09:43] akamhy opened #77 "cronjob for weekly testing"
weekly testing will help detect API  changes within a week.

[2021-01-14 09:44] akamhy opened #78 "add doc string to every complex method or func"

[2021-01-14 09:46] akamhy commented on #72
Bad Idea, Do One Thing and Do It Well

[2021-01-14 09:46] #72 closed

[2021-01-14 09:46] akamhy commented on #73
Bad Idea, Do One Thing and Do It Well

[2021-01-14 09:46] #73 closed

[2021-01-14 09:55] akamhy opened #79 "--no-file or --file for CLI"
prefer --no-file to not change the API for existing API

[2021-01-14 10:02] akamhy opened #80 "Use Pipfiles and rid of requirements.txt"

[2021-01-14 10:03] akamhy opened #81 "get rid of requirements.txt, use Pipfiles"

[2021-01-14 10:22] akamhy commented on #74
keyword arguments for better readability

[2021-01-14 13:13] mgrandi commented on #80
I would suggest using poetry instead (https://python-poetry.org/) , pipenv was basically abandoned for 2 years and only recently started releasing updates again

it also seems that pipenv/pipfiles don't follow https://www.python.org/dev/peps/pep-0517/ or  https://www.python.org/dev/peps/pep-0518/

[2021-01-14 13:15] mgrandi commented on #81
seems you created a duplicate of https://github.com/akamhy/waybackpy/issues/80

[2021-01-14 13:38] akamhy commented on #81
Yup, my bad.

[2021-01-14 13:38] #81 closed

[2021-01-14 14:01] akamhy commented on #74
done in https://github.com/akamhy/waybackpy/commit/dcd7b0330285fc0e4f54b5f912b20c3c38eb1f04

[2021-01-14 14:01] #74 closed

[2021-01-14 15:05] akamhy commented on #79
with `--known_urls` to get list of URLs in a file.

[2021-01-15 05:49] dequeued0 opened #82 ""No archive URL found in the API response" errors"
I seem to get this error a lot of the time when saving the archive actually succeeded (rechecking later finds it). It seems like the error statement could be more specific about the failure and I'm not sure that the upgrade suggestion is helpful when the version is current.

[code]

[2021-01-15 06:22] dequeued0 opened #83 ""Error while retrieving" errors should include more information"
I get this error sometimes and there really isn't much information in (the string version of) this error.

[code]

[2021-01-15 08:31] akamhy commented on #82
- Will check if the version is latest, if not will ask for upgrade.
- The header contains `'Content-Type': 'text/html'`, most likely it was 50* error. Will try to include the error message.

[2021-01-15 11:09] #78 closed

[2021-01-15 11:25] akamhy commented on #83
fixed in https://github.com/akamhy/waybackpy/commit/712471176b4491a2f6c4930a59340d2f5724b747

[2021-01-15 11:25] #83 closed

[2021-01-15 11:41] akamhy commented on #82
I don't know what all the keys represent in the header of failed request, I will try contacting internet archive for help.

I'm gonna try fetching the newest archive before raising error, if difference in timestamp is less than 30 minutes will return the newest archive. According to IA, Wayback machine doesn't allow more than 1 archive per 30 minutes.

[2021-01-15 11:42] akamhy commented on #77
Well no need cuz wayback machine hasn't changed in years.

[2021-01-15 11:42] #77 closed

[2021-01-15 12:47] akamhy commented on #75
done in https://github.com/akamhy/waybackpy/commit/0725163af8d64c7cd757137d340ef31d1feb2be3

[2021-01-15 12:47] #75 closed

[2021-01-15 21:06] dequeued0 commented on #82
Sounds good. Perhaps a flag should be set on the archive object indicating that the archive is older than the save request?

Also note that the URLs I am archiving are very new so there is no previous archive.

[2021-01-16 06:16] akamhy opened #84 "Add New Exceptions, inherit from WaybackError"
We need different exceptions all these new Exceptions must  inherit from  WaybackError.

### List of proposed Exceptions

- NotSavedError `when saving fails`

- ArchiveNotFoundError `when near and its child method fails`

- ArchiveScrapingError `when can't scraping archive from header`

[2021-01-16 06:21] akamhy opened #85 "Use CDX API as a backup for availability API failures"
availability is not robust compared to CDX. We can use CDX as a reliable fallback.

[2021-01-22 20:25] notevenaperson opened #86 "CLI: --json returns invalid json"
[code]
While the equivalent query using curl [[1]](https://archive.org/help/wayback_api.php) outputs valid json
[code]
It seems waybackpy's json is invalid because:
- it uses single quotes(`'`) to denote strings instead of double quotes(`"`)
- the first letter of `True` is uppercase

Just to exemplify, it becomes valid if I manually fix the two points above:
[code]

[2021-01-23 15:15] akamhy commented on #86
fixed in https://github.com/akamhy/waybackpy/commit/edc2f63d9365b5558f8425d41453cf6f95f901f1

Thanks for reporting!

[2021-01-23 15:15] #86 closed

[2021-01-23 15:19] akamhy commented on #71
completely done imo

[2021-01-23 15:19] #71 closed

[2021-01-24 10:41] #79 closed

[2021-01-24 14:52] akamhy commented on #82
The flag is `cached_save`, if it is True then the archive was cached by wayback machine.

Use -

[code]
True indicates cached archive.

[2021-01-29 09:21] akamhy opened #91 "Exceeded 30 redirects"
[code]

[2021-01-29 09:24] akamhy commented on #91
Why are we even retrieving <https://web.archive.org/web/202101290913/https://github.com/akamhy/videohash/blob/main/videohash/vhash.py> for a save request? Maybe they (IA) started redirecting to the archive, will have to check it.

[2021-02-28 13:32] eggplants opened #92 "save redirected"
I would like to provide an error to handle this.

[code]

[code]

[2021-04-02 05:08] akamhy commented on #92
it's `RedirectSaveError`

[2021-04-02 05:08] #92 closed

[2021-04-02 07:53] eggplants commented on #92
Thank you so much

[2021-04-15 23:39] alicescfernandes opened #96 "Question: Archiving a page will retrieve the lastest (and outdated) copy of the page instead of save"
I know that the CLI tool as little to do with this, but maybe someone can point me to the right direction. I'm trying to archive a page, but instead of archiving a fresh copy, i'm getting an outdated copy of the page.

Any reason as to why this is happening?

[2021-04-16 05:48] akamhy commented on #96
@alicescfernandes, I believe either it's because they (Wayback machine) are redirecting queued archives to older archives or maybe it's [the code that checks for recent archives if save requests fails](https://github.com/akamhy/waybackpy/blob/5a7fc7d5683759f759e3729c070bc1cab9376792/waybackpy/wrapper.py#L190). If a page was saved recently, you have to wait for 30 minutes to capture another archive

[2021-04-16 06:47] akamhy commented on #96
I was able to reproduce the error, unfortunately, Wayback Machine is redirecting the save requests to older archives. I can't do anything about it, just wait for the service to function properly again.

[code]

[2021-04-16 09:01] alicescfernandes commented on #96
Thanks for taking a look at it! I suspected that would be related with the web archive itself, but really had no ideia why it was happening

[2021-04-16 09:01] #96 closed

[2021-04-20 10:07] alicescfernandes commented on #96
Hi again! @akamhy something weird is happening with the service. As of today the service it's kinda working.

It still redirects me to a cached copy whenever i try the save new widget, but it's also caching a new one. The new copy doesn't appear immediately, but if you check the calendar on the following, you can see that even though it was retuning that old url, it was still caching a new copy

[2021-04-24 11:47] akamhy opened #97 "Too Many Requests"
Too Many Requests
We are limiting the number of URLs you can submit to be Archived to the Wayback Machine, using the Save Page Now features, to no more than 15 per minute.

If you submit more than that we will block Save Page Now requests from your IP number for 5 minutes.

Please feel free to write to us at info@archive.org if you have questions about this. Please include your IP address and any

[2021-06-21 09:18] AlbertoFDR opened #98 "Error getting a page when the encoding is 'None'"
The error comes on 'wrapper.py' when the encoding is 'None'. Webpage for example of the error "https://akamhy.github.io/". The file that causes the issue has a extension of '.woff2'.

Error:
[code]

In my case I want to download all the versions of a domain (html, js...) and also subdomains, so to do that I use Cdx and then, I download using the get method.

[2021-06-21 09:54] AlbertoFDR commented on #98
+ info:

In my case I want to download all the versions of a domain (html, js...), so to do that I use Cdx and then, I download using the get method.

[2021-12-21 04:07] gitmesam commented on #82
average but useful....
cmd `total` - shows wrong number files
shows 247
but 32881 for real

cmd `list` works very well

[2022-01-08 12:31] akamhy opened #107 "Create a link to SecSI projects"
Add credit/link to the projects:

 - https://hub.docker.com/r/secsi/waybackpy
 - https://github.com/cybersecsi/RAUDI

[2022-01-15 09:39] dequeued0 opened #108 "Saving archive results in an incorrect "cannot be archived by wayback machine as it is a redirect" failure"
I tried upgrading from 2.4.2 to 2.4.4 and the first page I tried to archive returned a new error:

[code]

This page is not a redirect. It appears that the archive actually worked, though. It's successfully archived on archive.org with a timestamp that is about the same timestamp as the above error in my log.

[2022-01-16 17:01] akamhy commented on #91
Not an issue anymore after the recent 2022 JAN commits

[2022-01-16 17:01] #91 closed

[2022-01-16 17:05] akamhy commented on #60
Bad Idea after the recent abuse. The example URL for Multi-Variable calc was saved more than 200K times just on Jan 16.

![Screenshot from 2022-01-16 21-57-21](https://user-images.githubusercontent.com/64683866/149670050-0aafe62c-7180-427d-9e68-1de8802ed604.png)

[2022-01-16 17:05] #60 closed

[2022-01-16 17:31] #107 closed

[2022-01-18 15:59] akamhy commented on #108
Should be fixed in [v.3.0.0](https://github.com/akamhy/waybackpy/releases/tag/3.0.0).

[2022-01-19 03:58] akamhy commented on #76
Not relevant anymore after v3.0.0

[2022-01-19 03:58] #76 closed

[2022-01-19 17:05] akamhy commented on #98
Get is deprecated. Closing issue.

[2022-01-19 17:05] #98 closed

[2022-01-21 06:17] akamhy opened #110 "Fix code scanning alert - Incomplete regular expression for hostnames"
Tracking issue for:
- [ ] https://github.com/akamhy/waybackpy/security/code-scanning/1

[2022-01-21 13:58] rafaelrdealmeida opened #111 "make available in conda-forge"
Hi, are there any plans to make waybackpy available in conda-forge?

cheers

[2022-01-21 14:07] akamhy commented on #111
@rafaelrdealmeida No and most likely not in 2022, but if you want you can create a PR at <https://github.com/conda-forge/staged-recipes>. I can link to it from the Readme of this repo.

Similar case:

I had no plans to create a docker image but SecSI (https://secsi.io), an Italian cybersecurity startup created a docker image and it is in fact [linked from the readme of the repo](https://github.com

[2022-01-21 14:09] akamhy commented on #110
Actually not really a bug unless the Wayback machine gets hacked.

[2022-01-21 14:22] #110 closed

[2022-01-21 14:24] akamhy commented on #108
Closing, if the issue persists reopen.

[2022-01-21 14:24] #108 closed

[2022-01-21 14:25] akamhy commented on #66
Exits as of Jan 2022. Either via the known URL or the CDX API interface.

[2022-01-21 14:25] #66 closed

[2022-01-21 14:26] #82 closed

[2022-01-21 14:27] akamhy commented on #84
Done in version 3.0.0

[2022-01-21 14:27] #84 closed

[2022-01-21 14:28] akamhy commented on #70
Done in version 3.0.0. But still, need to update the docs.

[2022-01-21 14:28] #70 closed

[2022-01-22 02:23] rafaelrdealmeida commented on #111
Hi @akamhy , I will do this within a week!

Thanks for keeping waybackpy. He is very helpful to us!

####

If someone is using the anaconda virtual environment through the yaml file in the linux terminal:

[code]

and see : https://github.com/conda/conda/issues/10815#issuecomment-890382518

[2022-01-22 03:55] akamhy commented on #85
But what if the user passes the JSON flag?

[2022-01-22 03:58] akamhy commented on #85
Closing, this.

It's always a bad idea to call another API without the end-user explicitly asking to do so.

Maybe better opinion is using a default retries for availability API requests.

[2022-01-22 03:58] #85 closed

[2022-01-23 09:37] akamhy commented on #85
Just for future ref:
The availability API now supports retries with time delays for better performance. See <https://github.com/akamhy/waybackpy/commit/c0252edff284aa5fd9df063b17df8183cc7c9d65>.

[2022-01-24 23:04] rafaelrdealmeida commented on #111
update:

https://github.com/conda-forge/staged-recipes/pull/17634

[2022-01-25 00:04] rafaelrdealmeida commented on #111
hi, how should I proceed? [conda-forge/staged-recipes#17634](https://github.com/conda-forge/staged-recipes/pull/17634)

Nicholas Bollweg @bollwyvl 20:49
had to do this relatively recently: one option is to [patch](https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#patches) in open(encoding="utf-8")

Nicholas Bollweg @bollwyvl 20:51
I tackled it by:
 - making an ups

[2022-01-25 05:26] akamhy commented on #111
PR https://github.com/akamhy/waybackpy/pull/114 is now merged, I believe now there should be no more issues.

[2022-01-25 07:43] akamhy commented on #111
Okay, I was wrong. see https://github.com/akamhy/waybackpy/pull/114/files#r791431485

Also I should add a build test along with the code-style and unittests. I also failed to catch the syntax issue.

[2022-01-25 07:46] akamhy opened #117 "Add a build test to CI"
see https://github.com/akamhy/waybackpy/pull/116

It syntax error was hard to catch and it could have been caught before the merge commit if there were build tests in the CI.

[2022-01-25 08:35] #117 closed

[2022-01-25 09:04] akamhy commented on #97
Nothing to do here, closing.

[2022-01-25 09:04] #97 closed

[2022-01-25 09:07] akamhy commented on #111
Build test added <https://github.com/akamhy/waybackpy/pull/118>.

[2022-01-25 18:36] rafaelrdealmeida commented on #111
see: https://github.com/conda-forge/staged-recipes/pull/17643

[2022-01-25 18:48] rafaelrdealmeida commented on #97
Hi @akamhy,

does waybackpy handle this (no more than 15 minutes per minute)? or is that the responsibility of the waybackpy user?

cheers

[2022-01-25 19:04] akamhy commented on #97
@rafaelrdealmeida waybackpy has an inbuilt delay between the API calls to all of the three APIs. You would never hit the 15 archives per minute limit unless you are running multiple instances of waybackpy(by threading or parallel tasks) on the same IP address.

[2022-01-25 20:00] rafaelrdealmeida commented on #111
@akamhy , how is the figlet generated? https://github.com/akamhy/waybackpy/blob/4408c5e2ca8b875fff8db13d8172c5f025b1127e/waybackpy/cli.py#L172-L179

see: https://github.com/conda-forge/staged-recipes/pull/17643#issuecomment-1021532562

[2022-01-25 20:11] akamhy commented on #111
I don't remember but it was possibly from some website and it is not in ASCII characters.

Maybe I should replace it with the ASCII version below and create a new release? @rafaelrdealmeida
[code]

[2022-01-25 20:29] akamhy commented on #111
I have replaced the non-figlet with ASCII figlet. See https://github.com/akamhy/waybackpy/commit/5ea1d3ba4f8f3ba75a47d12c3126ea21970d7c7c

[2022-01-25 23:17] rafaelrdealmeida commented on #111
@akamhy now it's gone, thanks a lot for the help! I put you on the maintainers list too.

When the package is published on conda-forge. I can add this in the  "Installation" item if you want

cheers

[2022-01-25 23:19] rafaelrdealmeida commented on #111
- [ ] add conda-forge in the "Installation"

[2022-01-26 18:27] rafaelrdealmeida commented on #111
I added description in the meta.yaml of the conda-forge package. I believe it helps that more people find the package

https://github.com/conda-forge/waybackpy-feedstock/blob/master/recipe/meta.yaml

[2022-01-26 18:55] #111 closed

[2022-02-03 12:57] eggplants opened #126 "Drop Python<=3.6"
Python 3.6 or older is currently not supported due to EOL (date: 23 Dec 2021).

See: https://endoflife.date/python

So I suggest dropping them.

[2022-02-03 13:13] akamhy commented on #126
@eggplants go ahead(do it in #125 ).

[2022-02-03 13:24] eggplants opened #127 "Typing"
Need type hints.

[2022-02-03 13:24] eggplants commented on #127
I'll do this after merging #125

[2022-02-03 13:43] #126 closed

[2022-02-03 13:46] akamhy commented on #127
@eggplants will you be using any tools such as [monkeytype](https://pypi.org/project/MonkeyType/) or all manually?

[2022-02-03 13:55] eggplants commented on #127
I usually add them all manually.

[2022-02-04 15:57] eggplants opened #130 "aise Error if response is 429"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-04 15:59] eggplants opened #131 "Raise Error if response is 429"
When access rate is too frequent, Wayback Machine returns 429 as HTTP status code.

And returned HTML Body is:

https://gist.github.com/eggplants/414bab0230f14358642faf364bc1f7ec

[code]

So I suggest raising `TooManyRequestsError` when returned status code is 429.

[2022-02-04 16:01] #130 closed

[2022-02-04 18:02] akamhy commented on #131
[code]

What should be the error message? Should it(error message) be parsed every time or should it be a string literal?

[2022-02-04 18:23] #127 closed

[2022-02-04 18:29] eggplants commented on #131
Example: `Save Page Now receives up to 15 URLs per minutes. Wait a moment and run again.`

[2022-02-04 18:30] eggplants commented on #131
I think just checking the code should be enough.

[2022-02-04 19:28] akamhy commented on #131
@eggplants will you be working on this issue? Just asking so that we both don't end up creating two PRs.

[2022-02-04 19:31] eggplants commented on #131
I'll do it myself if you'd like.

[2022-02-04 19:34] akamhy commented on #131
Go ahead.

[2022-02-04 20:25] eggplants opened #134 "CLI Test"
ref: https://click.palletsprojects.com/en/latest/testing/

Currently this project lacks of tests for cli. I think it is absolutely necessary.

[2022-02-05 01:18] eggplants opened #137 "Add codacy badge to README.md"
See: https://docs.codacy.com/getting-started/adding-a-codacy-badge/

[2022-02-05 04:35] #137 closed

[2022-02-05 05:58] #131 closed

[2022-02-05 15:55] eggplants opened #140 "Follow Pylint as much as possible"
[code]

[2022-02-06 11:05] eggplants commented on #140
@akamhy Could you add docstrings to modules/classes/functions without it?

[2022-02-06 12:22] akamhy commented on #140
@eggplants  without 'it', without what? without pylint? And yes, I plan to add docstrings to modules/classes/methods/functions.

[2022-02-06 12:24] eggplants commented on #140
I mean it is a docstring. (sorry for my poor english...)

[2022-02-07 14:10] #140 closed

[2022-02-07 22:07] eggplants opened #144 "DeepSource: ignore meaningless rules"
Currently, https://deepsource.io/gh/akamhy/waybackpy/ reports some linted errors.
Please ignore some false positive and meaningless rules.

ref1: https://deepsource.io/blog/release-ignore-issues-in-test-files/
ref2: https://discuss.deepsource.io/t/using-assert-outside-tests/79/4

[2022-02-08 05:00] akamhy commented on #144
Done

[2022-02-08 05:00] #144 closed

[2022-02-08 05:01] akamhy commented on #134
I'm working on it.

[2022-02-08 05:21] akamhy opened #147 "README.md non-ASCII character and build"
**Describe the bug**
For the build process to succeed in windows the encoding should be explicitly set to `UTF-8`. It is guaranteed to fail otherwise, a similar incident happened on conda-forge and now see <https://github.com/akamhy/videohash/pull/83>.

The following line is a must for the package to be buildable on windows.
https://github.com/akamhy/waybackpy/blob/7ac9353f74a4d44b1b69e6b19cdda345

[2022-02-08 05:27] akamhy commented on #147
I am for removing emojis from README.md

[2022-02-08 05:37] eggplants commented on #147
It's messy workaround, but how about replacing emoji with images?

[2022-02-08 05:41] eggplants commented on #147
#### <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/joypixels/291/gear_2699-fe0f.png" width=10 height=10></img> Test

[2022-02-08 05:43] akamhy commented on #147
How do you do that? Isn't it impossible to add images in the heading in GitHub?

[2022-02-08 05:44] akamhy commented on #147
Okay, it is possible. Thanks.

[2022-02-08 05:45] eggplants commented on #147
recommendation: https://emojipedia.org

[2022-02-08 06:07] akamhy commented on #147
Sorry, but using GitHub-hosted equivalent emojis appears to be a better Idea. Nothing will change for the end-user as we will be using the same images they were served before(GitHub replaces emojis with equivalent images).

[2022-02-08 06:13] #147 closed

[2022-02-08 12:17] #134 closed

[2022-02-08 14:59] akamhy commented on #80
plan canceled.

[2022-02-09 03:54] akamhy opened #151 "Release 3.0.3"
- [x] Check waybackpy/ for typo.
- [x] Check waybackpy/ for refactoring.
- [x] Check comments in waybackpy/
- [x] Check docstrings and string literals of waybackpy/
- [x] Increase the version to 3.0.3
- [x] Update docs in wiki and README if required.
- [x] compile the change log.
- [x] Release it.

[2022-02-09 08:56] akamhy commented on #131
For future reference

See also https://github.com/akamhy/waybackpy/pull/142#issuecomment-1031850965

[2022-02-09 11:05] akamhy commented on #151
Changes:

Dropped Python 3.4 to 3.6, both inclusive.
Catch 429 and 509 status code for save page now API
Increase the default CDX limit from 5000 to 25000 records per API call.
Added type hint
The package will now close the sessions explicitly.
Removed useless code.
Added docstrings.

[2022-02-09 11:09] akamhy commented on #151
See <https://github.com/akamhy/waybackpy/releases/tag/3.0.3>.

[2022-02-09 11:12] akamhy commented on #151
@eggplants

See https://github.com/akamhy/waybackpy/runs/5124093692?check_suite_focus=true

[code]

[2022-02-09 11:34] eggplants commented on #151
https://setuptools.pypa.io/en/latest/userguide/declarative_config.html

It seems that there are some items that are not supported by `attr:`...

[2022-02-09 11:54] akamhy commented on #151
See https://pypi.org/project/waybackpy/3.0.3/

[2022-02-09 11:54] #151 closed

[2022-02-16 09:49] h6197627 opened #154 "Availability API instability"
This code:

[code]

can occasionally throw:

[code]

Next time re-running with the same URL goes as expected (URL actually archived by Wayback Machine)

**Version:**

- OS: Ubuntu 18.04
- Version: 3.0.2

[2022-02-16 10:19] akamhy commented on #154
@h6197627 This is a known bug of the Wayback Machine's Availablity API and not of this package. We already implemented retrying but sometimes that doesn't help either https://github.com/akamhy/waybackpy/blob/f63c6adf7933ccbf5c8c754b86d558a3d01748f8/waybackpy/availability_api.py#L170-L190

Do you have any suggestions?

[2022-02-16 13:37] h6197627 commented on #154
I see.
After looking into waybackpy code I understood that my code is a bit redundant, I should use
[code]
That way I am having only one API call and therefore this inconsistency is avoided because there is no second call

Of cause it is not a true solution but a workaround

[2022-02-16 13:59] #154 closed

[2022-02-16 14:03] eggplants commented on #154
TIPS: In 3.0.3, class method `WaybackMachineAvailabilityAPI.json` was moved to `WaybackMachineAvailabilityAPI.setup_json`.
And also class variable `WaybackMachineAvailabilityAPI.json` was unchanged.

[2022-02-16 14:09] h6197627 commented on #154
As a suggestion maybe a bit better handling of such situation (inconsistency between subsequent calls with the same WaybackMachineAvailabilityAPI object):
if user calls some method that will initiate new request to Wayback Machine, we can check if `self.json` structure is already filled and if yes, save some previous availability flag. If after second call resource availability is different compar

[2022-02-16 14:16] akamhy commented on #154
@h6197627 Why not use reliable CDX Server API instead? It's more reliable as it is somewhat complex when compared to the Availablity API and thus very few people know how to use it and the server can handle requests gracefully.

[code]

In the above code, the limit=1 makes sure that the request only returns one URL per one CDX server request., and as we only care about the oldest archive we break

[2022-02-16 14:46] akamhy opened #155 "Why not implement newest, near and oldest for the CDX Server API as we have for the Availability API"
**Is your feature request related to a problem? Please describe.**
Yes, the Availability API is not reliable when compared to the CDX server API. And Server usage has a steeper curve, and instead of telling users to implement these methods on their own using the interface, it would be cool to have these methods in the `WaybackMachineCDXServerAPI` class.

**Describe the solution you'd like**
The fo

[2022-02-16 17:02] akamhy commented on #155
- `limit=-1` : Latest/Newest CDX server archive
- https://github.com/akamhy/waybackpy/issues/154#issuecomment-1041536164 For oldest.
- No idea what to do for near as of now.

[2022-02-16 17:04] akamhy commented on #155
see also https://github.com/internetarchive/wayback/blob/master/wayback-cdx-server/src/main/java/org/archive/cdxserver/CDXServer.java

[2022-02-16 20:13] akamhy commented on #155
Near can be implemented by leveraging the `to` and `from` params.

[code]

[code]

Pick the closest one which has a better HTTP status code.

[2022-02-17 05:06] akamhy commented on #155
Use https://github.com/internetarchive/wayback/issues/237#issuecomment-1042577291  for near.

[2022-02-17 05:48] akamhy commented on #155
Implement near from https://web.archive.org/cdx/search/cdx?url=google.com&limit=1&closest=20101010101010&sort=closest&filter=statuscode:200
 and oldest and newest should invoke near with appropriate args.

[2022-02-17 09:27] h6197627 opened #157 "CDX API handling of excluded from the Wayback Machine URLs"
URLs that was excluded from Wayback Machine are not handled properly using CDX Server API (Availability API is fine).
Manual web user interface request returns:
[code]
API request returns:
`org.archive.util.io.RuntimeIOException: org.archive.wayback.exception.AdministrativeAccessControlException: Blocked Site Error`

waybackpy cdx_utils.py does not expect such response and crashes with exception:

[2022-02-17 10:27] akamhy commented on #157
@h6197627 This should probably raise a custom exception instead of ValueError. Maybe `BlockedSiteError`?

[2022-02-17 11:26] h6197627 commented on #157
In my opinion it is better to simply return no snapshots available without exceptions, as from the user perspective I think it doesn't matter is it blocked or simply was not archived.
Though is some use cases, which I am not aware of, it might be important to know this information.

[2022-02-17 11:45] h6197627 commented on #157
But probably you are right, if API interpret this situation as an exception, then it is better to stay closer to API. I think custom BlockedSiteError is OK.

[2022-02-17 18:54] #157 closed

[2022-02-18 07:47] #155 closed

[2022-02-18 13:51] h6197627 opened #162 "Downgrade minimum required Python version"
According to [this tool](https://pypi.org/project/vermin/) waybackpy is still fully compatible with Python 3.6.
I understand that there is no point to stick to old versions, but considering that current code does not require any changes, there is also no point to cut off some users without real need.
It will be good for folks who are still sitting with Ubuntu 18.04 :)

[2022-02-18 14:22] akamhy commented on #162
sounds reasonable to me, what about you @eggplants?

[2022-02-18 15:13] eggplants commented on #162
LGTM, and thank you @h6197627.

[2022-02-18 16:31] akamhy commented on #162
@h6197627 checkout https://github.com/akamhy/waybackpy/releases/tag/3.0.5 or https://pypi.org/project/waybackpy/3.0.5/

[2022-02-20 19:47] h6197627 commented on #162
Thanks, @akamhy!

[2022-02-22 08:20] eggplants opened #165 "CITATION.cff"
[GitHub docs](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files#about-citation-files) says:

CFF Schema Reference:
https://github.com/citation-file-format/citation-file-format/blob/main/schema-guide.md

CFF Schema:
https://github.com/citation-file-format/citation-file-format/blob/main/schema.json

CFF Generator:

[2022-02-22 08:33] eggplants commented on #165
[code]

[2022-03-03 13:35] #165 closed

[2022-06-30 20:13] DGaffney opened #172 "Does the CLI *request* Wayback to archive the page?"
When I run the `waybackpy` CLI with the following command:

[code]

Am I asking that Internet archive produce a snapshot of the page? At some point later, can I visit https://web.archive.org/web/1234567890/https://example.com/some-unique-path to see that snapshot once a machine has taken the snapshot?

[2022-07-02 04:06] akamhy commented on #172
Yes

Yes

[2022-07-08 13:50] #172 closed, assigned to nobody

[2022-07-12 12:48] Forage opened #173 "Parameter to filter out redirects from one result methods"
**Is your feature request related to a problem? Please describe.**
Methods near, oldest, newest return no matter what type of snapshot is available. This also includes redirects, which aren't that useful in a lot of cases.

**Describe the solution you'd like**
Methods near, oldest, newest would be a lot more efficient to use if it allows you to filter out redirects directly with an additional para

[2022-07-14 03:57] ArztKlein opened #174 "Before/After methods"
**Is your feature request related to a problem? Please describe.**
Currently there is the near() function, but there isn't any built-in way to choose whether you want something to be before/after the date.

**Describe the solution you'd like**
Methods called something like "before", "after" for the CDX Api which gets the nearest snapshot before/after the given date.

**Describe alternatives you've

[2022-07-14 04:17] ArztKlein commented on #173
I think that's already a feature with the 'filter' parameter for the WaybackMachineCDXServerAPI class.

One example given in the tests file is:
[code]

[2022-07-14 08:27] Forage commented on #173
Yes, but that's using Python and performing multiple steps: preparing, getting the results, looping through them. The one line "near, oldest, newest" methods are handy to avoid all that, especially through CLI.

The filter CLI argument is ignored when using one of those methods if I'm not mistaken.
So either the filter could be made to be taken into account for most flexibility or an additional "o

[2022-07-15 00:56] akamhy commented on #173
For URLs with 200 only status code:
[code]

Non-200 status code:

[code]

[2022-07-15 00:59] akamhy commented on #173
And how do we detect the redirects(status 302 Found) and statuses? By visiting the archive to actually check or  by just reading the CDX data for the archive?

[2022-07-15 08:48] Forage commented on #173
By relying on the CDX status code yes, 200 or not 200.

But yes, you are right, your given example could do the trick as well. I'm happy using that if limit to one would work, but it looks like the limit parameter is ignored completely.

[2022-07-15 17:38] akamhy commented on #173
The limit is not ignored but it is actually a CDX API param to limit number of archive data returned per API call when using the non-paginated CDX API. see <https://github.com/internetarchive/wayback/tree/master/wayback-cdx-server#query-result-limits>.

[2022-07-15 17:48] Forage commented on #173
Maybe I'm misunderstanding its purpose, but unlike with your example where I get a lot more than the set limit of 10 results, when I call the API directly as in the API docs I only get what I set the limit to: http://web.archive.org/cdx/search/cdx?url=archive.org&limit=2

[2022-08-23 17:06] TheTechRobo commented on #96
I'm late but this is why...

Sometimes when the WBM's servers are overloaded (?) or if you specifically request it, the Wayback Machine will not index the page for up to 12 hours. This is normal and happens occasionally.

The reason you're then seeing an older copy is because the Wayback Machine uses date fuzzing - for example, you could use `2006` as the timestamp like in https://web.archive.org/

[2022-09-10 08:51] sissbruecker opened #176 "WaybackMachineCDXServerAPI.newest does not return latest snapshot"
**Describe the bug**

Using `WaybackMachineCDXServerAPI.newest` does not return the last snapshot, but some recent snapshot. For example for `https://openlayers.org/`, it returns a snapshot from `2022-06-16 17:20:36`, the latest snapshot (as of today, September 10th 2022) is from `2022-09-10 08:05:37`. There are around 380 snapshots between these two.

I've debugged this a bit and it seems there i

[2022-09-10 16:42] sissbruecker commented on #176
Hmm, with `limit = -1` sometimes you don't get any result at all from the CDX API. For example:
[code]
returns an empty response.

However:
[code]
returns 5 entries.

The CDX API docs are not super clear, but that looks like a bug. A workaround could be to use a higher limit for `newest`, and then only take the first result.

[2022-09-30 04:06] Huo-Yuan opened #177 "One question about the return time value"
For example, using **oldest.datetime_timestamp**, **I can get the time 2021-01-01 15:51:57.**

However, I do not know which time zone it belongs to?

BTW, the oldest time is the time when the webpage was first published or first captured

[2022-09-30 04:08] akamhy commented on #177
time zone = UTC
oldest time = First time the archive was captured, and not the day the webpage was published.

[2022-09-30 04:51] Huo-Yuan commented on #177
Can I know the frequency of capture

[2022-09-30 05:17] akamhy commented on #177
I'm not sure what you mean by frequency of capture, so I will give multiple answers.

The first answer) The frequency of capture(new archive) depends on the webpage, Google's homepage for example is archived 100s of times a day but an obscure webpage may only have a single library if at all. Frequency is proportional to the popularity of the webpage.

The second Answer) The number of URLs you can

[2022-09-30 05:53] Huo-Yuan commented on #177
Thanks a lot, that is exactly what I am looking for

[2022-09-30 05:53] #177 closed, assigned to akamhy

[2022-10-06 13:58] Natkeeran opened #178 "Exceeded 30 redirects."
**Describe the bug**

Running into the Exceeded 30 redirects when saving urls.  I was using the same script before, did not encounter this type of issue.  Leaving 15 seconds before each request, thus this is not making too many requests to IA.  Often fails even when trying to save the first url.

[code]

**Version:**

- OS:  Linux
- Version: Version: 3.0.6
- Is latest version? Yes

[2022-11-17 02:25] akamhy opened #180 "Keep Actions Fresh"
https://docs.github.com/en/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot#example-dependabotyml-file-for-github-actions

From: https://github.com/akamhy/waybackpy/pull/179#issuecomment-1317941971

[2022-11-17 02:28] #174 closed, assigned to akamhy

[2022-11-29 03:10] smontanaro opened #181 "Remove WayBack Machine bits from downloaded files"
I'm just about done downloading a defunct website from the Wayback Machine. ``waybackpy`` has been quite helpful. The website is/was a small reference site. We think the owner passed away, so I'm trying to reconstruct it.

Initially, I thought the HTML files had a bit of JS in the header and a footer on the file identifying the times and dates. Looking deeper, it seems there is quite a few more st

[2022-11-30 12:03] akamhy commented on #181
@smontanaro Try reading http://web.archive.org/web/20110812221535id_/http://faq.web.archive.org/page-without-wayback-code/

20110812221535id_ does the trick. I will release an option in the future in this library but right now I don't have enough time.

Just append id_ after the timestamp in the URI.

[2022-11-30 12:06] akamhy commented on #181
Also, please don't close it as this would be a cool feature for this library, I will implement an option to change the URI for fetching the original source of webpages.